#!/bin/sh

set -e
sudo echo ""

# wait for dns service startup
timeout 1m bash -c 'until [ "$(dig +short -t srv _ldap._tcp.google.com.)" ]; do sleep 5; done' || echo "Error: cannot resolve google.com"

# partitioning
#######################
disko_config=/etc/nixos/partitioning.nix
disk_gen_dir=/etc/nixos/disks
# get names for all disks
disk_names=$(nix-instantiate --json --eval --strict $disko_config -A "disko.devices.disk" | jq -c '. | keys'| tr -d '[]"' | tr "," " ")
sudo mkdir -p $disk_gen_dir
# split disko config
echo Preparing disks for partitioning with disko.
for disk in $disk_names; do
    # write every disk into an extra file
    echo "{disko.devices.disk.$disk = $(nix-instantiate --eval --strict $disko_config -A "disko.devices.disk.$disk");}" | sudo sh -c "nixfmt > $disk_gen_dir/$disk.nix"
    # ask to run disko for every file
    echo ""
    echo "Format disk $disk?"
    echo "WARNING: all disk content will be erased if you select yes!"
    [[ "$(read -e -p "[y/N]> "; echo $REPLY)" == [Yy]* ]] && echo "formatting disk $disk" && \
      sudo disko --mode disko $disk_gen_dir/$disk.nix
done
mdadms=$(nix-instantiate --json --eval --strict $disko_config -A "disko.devices.mdadm" | jq -c '. | keys'| tr -d '[]"' | tr "," " ")
for mdadm in $mdadms; do
    # write every mdadm into an extra file
    echo "{disko.devices.mdadm.$mdadm = $(nix-instantiate --eval --strict $disko_config -A "disko.devices.mdadm.$mdadm");}" | sudo sh -c "nixfmt > $disk_gen_dir/$mdadm.nix"
    # ask to run disko for every file
    echo ""
    echo "Format mdadm $mdadm?"
    echo "WARNING: all previous disk content will be erased if you select yes!"
    [[ "$(read -e -p "[y/N]> "; echo $REPLY)" == [Yy]* ]] && echo "formatting mdadm $mdadm" && \
      sudo disko --mode disko $disk_gen_dir/$mdadm.nix
done
zpools=$(nix-instantiate --json --eval --strict $disko_config -A "disko.devices.zpool" | jq -c '. | keys'| tr -d '[]"' | tr "," " ")
for zpool in $zpools; do


cat $(sudo disko -m disko /etc/nixos/partitioning.nix --dry-run) | grep echo.*$disko_devices_dir


    # write every zpool into an extra file
    echo "{disko.devices.zpool.$zpool = $(nix-instantiate --eval --strict $disko_config -A "disko.devices.zpool.$zpool");}" | sudo sh -c "nixfmt > $disk_gen_dir/$zpool.nix"
    # ask to run disko for every file
    echo ""
    echo "Format zpool $zpool?"
    echo "WARNING: all previous zfs content will be erased if you select yes!"
    [[ "$(read -e -p "[y/N]> "; echo $REPLY)" == [Yy]* ]] && echo "formatting zpool $zpool" && \
      sudo disko --mode disko $disk_gen_dir/$zpool.nix
done
######################
# end partitioning
sudo disko --mode mount /etc/nixos/partitioning.nix

# copy configs
sudo mkdir -p /mnt/etc/nixos
sudo nixos-generate-config --root /mnt --no-filesystems
sudo cp -LR /etc/nixos /mnt/etc


cd /mnt
# https://github.com/NixOS/nixpkgs/blob/master/nixos/doc/manual/man-nixos-install.xml
sudo nixos-install --no-root-passwd -I nixpkgs=https://github.com/NixOS/nixpkgs/archive/{{nixos_version}}.tar.gz